{% extends 'base.html' %}
{% load static %}
{% block title %}About Us || Fast Cars{% endblock title %}
{% block content %}


<section class="page-intro d-flex mx-auto flex-column bg-dark">
  <div class="py-5 container text-white px-4" style="margin: auto">
    <h1 class="font-medium">About Us</h1>
    <p class="text-base text-white opacity-75 col-md-6">
      Know more about our history and achivements. And meet the team!
    </p>
  </div>
</section>


<div class="mt-5">
   {% include 'partials/messages.html' %}   
</div>


<!-- =========================================== About Us =========================================== -->
<div class="container col-xxl-8 px-4 py-5" style="margin-top: 90px;">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-12 col-sm-11 col-lg-6 mx-auto">
      <img src="{% static 'img/elegant-man.jpg' %}" class="d-block mx-lg-auto img-fluid rounded-lg shadow-sm"
        alt="Bootstrap Themes" loading="lazy" />
    </div>
    <div class="col-lg-6">
      <h1 class="display-6 font-semibold mb-3">
        About Us
      </h1>
      <p class="lead text-gray-500 text-lg">
        We are an organization driven by passion, and the need to make car rentals easier for you.

      </p>
    </div>
  </div>
</div>
<!-- =========================================== About Us =========================================== -->


<!-- =========================================== Our Team =========================================== -->
<div class="container-fluid px-sm-5 mt-5">

  <h2 class="text-center">Our Team</h2>

  <div class="row gx-4 mt-5">
         
    {% for team_member in team_members %}
    <div class="col-lg-3 col-md-5 col-sm-8 col-11 my-3 my-lg-0 mx-auto">
      <div class="p-4 my-shadow rounded-md bg-white text-center border">
        <div class="avatar col-6 mx-auto">
          <img src="{{team_member.image.url}}" alt="Team Member Image" class="img-fluid rounded-full">
        </div>
        <h5 class="mt-3">{{team_member.name}}</h5>
        <p class="text-gray-500 font-semibold">{{team_member.position}}</p>
      </div>
    </div>
    {% endfor %}
    

  </div>
</div>
<!-- =========================================== Our Team =========================================== -->

<br /><br /><br />

{% endblock content %}
