{% extends 'base.html' %}
{% load static %}
{% block title %}Login Account || Fast Cars{% endblock title %}
{% block content %}

<div class="d-grid login-bg" style="height: 100vh;align-content: center;">
   {% include 'partials/messages.html' %}
   <div class="col-md-4 col-11 col-sm-9 mx-auto pt-4 pb-4 p-3 rounded-3 shadow-sm bg-light" style="height: fit-content !important;">
      <form class="text-center" method="POST">
         {% csrf_token %}
         <div class="form-floating mb-3">
            <input type="email" class="form-control font-semibold" name="email" id="email" placeholder="" required>
            <label for="email" class="text-md">Email</label>
         </div>
         <div class="form-floating mb-4">
            <input type="password" class="form-control font-semibold" name="password" id="password" placeholder="" required>
            <label for="password" class="text-md">Password</label>
         </div>
         <div class="w-fit mx-auto mb-2">
            <button class="btn btn-myprimary font-medium" type="submit">Login</button>            
         </div>
         <small class="text-center text-xs font-semibold">            
            <a href="{% url 'password_reset' %}" class="text-decoration-none font-semibold sign-up-btn">Forgot Password ?</a>
         </small>
         <hr class="w-25 mx-auto my-1 mt-2 p-0">
         <small class="text-center text-xs font-semibold">
            Don't have an account? 
            <a href="{% url 'register' %}" class="text-decoration-none font-semibold sign-up-btn">Sign Up</a>
         </small>
      </form>
   </div>
</div>

{% endblock %}