{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Password Reset || Fast Cars{% endblock title %}
{% block content %}

<div class="d-grid login-bg" style="height: 100vh;align-content: center;">
   {% include 'partials/messages.html' %}
   <div class="col-md-4 col-11 col-sm-9 mx-auto pt-4 pb-4 p-3 rounded-3 shadow-sm bg-light" style="height: fit-content !important;">
      {% if validlink %}
      <form class="" method="POST">
         {% csrf_token %}

         <h5 class="text-myprimary text-center">Password Reset Confirmed</h5>         

         {{ form|crispy }}

         <div class="w-fit mx-auto mb-3 mt-4">
            <button class="btn btn-myprimary font-medium" type="submit">Reset Password</button>            
         </div>
      </form>
      {% else %}
      <p class="text-sm font-semibold col-md-11 mx-auto text-center">
         The password reset link was invalid, possibly because it has already been used.
         Please request a new password reset.
      </p>
      {% endif %}
   </div>
</div>

{% endblock %}