{% extends 'base.html' %} 
{% load static %} 
{% load crispy_forms_tags %} 
{% block stylesheets %}
<style>
  label {
    display: none !important;
  }
</style>
{% endblock stylesheets %}
{% block title %}Password Reset || Fast Cars {% endblock title %} {% block content %}

<div class="d-grid login-bg" style="height: 100vh; align-content: center">
  {% include 'partials/messages.html' %}
  <div
    class="col-md-4 col-11 col-sm-9 mx-auto pt-4 pb-4 p-3 rounded-3 shadow-sm bg-light"
    style="height: fit-content !important"
  >
    <form class="" method="POST">
      {% csrf_token %}

      <h5 class="text-myprimary text-center">Password Reset</h5>
      <p class="text-sm font-semibold col-md-11 mx-auto text-center">
        Enter your email address below, and we’ll email instructions for setting
        a new one
      </p>

      <small class="text-sm font-medium font-jost text-gray-500">Email:</small>
      <div class="mt-2">{{ form|crispy }}</div>

      <div class="w-fit mx-auto mb-3 mt-4">
        <button class="btn btn-myprimary font-medium" type="submit">
          Reset Password
        </button>
      </div>
      <p class="text-center text-xs w-fit mx-auto font-semibold m-0 p-0">
        Don't have an account?
        <a
          href="{% url 'register' %}"
          class="text-decoration-none font-semibold sign-up-btn"
          >Sign Up</a
        >
      </p>
    </form>
  </div>
</div>

{% endblock %}
